<template>
  <section :class="[panelClass,cname]">
    <h4>{{title}}</h4>
    <slot></slot>
  </section>
</template>
<script>
export default {
  props: {
    cname: {
      type: String,
      default: ''
    },
    title: {
      type: String,
      default: ''
    }
  },
  data() {
    return {
      panelClass: 'panel'
    }
  }
}
</script>
<style lang="scss">
@import "../../publicresource/css/element.scss";
.panel {
  @include panel;
  > h4 {
    height: 38px;
    font-size: 31.5px;
    line-height: 38.5px;
    color: #000;
    font-weight: 500;
    padding-left: 17.5px;
    position: relative;
    margin-bottom: 26.25px;
  }
}
</style>