@import './layout.scss';
// 按钮样式
@mixin btn($size:14px, $color:#fff, $bgcolor:#F04752, $padding:5px, $radius:5px) {
  font-size: $size;
  color: $color;
  background-color: $bgcolor;
  padding: $padding;
  border-radius: $radius;
  text-align: center;
  line-height: 1;
  display: inline-block;
}

// 列表布局
@mixin list($direction:column) {
  @include flex($direction);
}

// 面板样式
@mixin panel ($bgcolor:#fff, $padding:0, $margin:20px 0, $height:112px, $txtPadding:0 32px, $color:#333, $fontSize:32px) {
  background-color: $bgcolor;
  padding: $padding;
  margin: $margin;
  >h4 {
    height: $height;
    line-height: $height;
    padding: $txtPadding;
    color: $color;
    font-size: $fontSize;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
  }
}