<template>
  <Panel title="导航条" :class="$style.panel">
    <ul :class="$style.content">
      <router-link :to="{name:'Home'}">
        <li>
          <img src="https://img12.360buyimg.com/jrpmobile/jfs/t17650/174/1729132233/4020/2b09fc25/5ad6aac4N620fbed1.png?width=60&height=60" alt="">
          <h4>首页</h4>
        </li>
      </router-link>
      <router-link :to="{name:'Home'}">
        <li>
          <img src="https://img12.360buyimg.com/jrpmobile/jfs/t7690/252/3621724688/1715/757a3ca1/59e9d81bN27304850.png?width=60&height=60" alt="">
          <h4>赚钱</h4>
        </li>
      </router-link>
      <router-link :to="{name:'Borrow'}">
        <li>
          <img src="https://img12.360buyimg.com/jrpmobile/jfs/t11653/76/201131398/1192/bf1b2852/59e9d7f3N5f691137.png?width=60&height=60" alt="">
          <h4>借钱</h4>
        </li>
      </router-link>
      <router-link :to="{name:'Home'}">
        <li>
          <img src="https://img12.360buyimg.com/jrpmobile/jfs/t19729/201/1027312338/1395/95cecd48/5ab85d0eN01f81011.png?width=56&height=56" alt="">
          <h4>省钱</h4>
        </li>
      </router-link>
      <router-link :to="{name:'Home'}">
        <li>
          <img src="https://img12.360buyimg.com/jrpmobile/jfs/t10897/141/1894216742/2046/ad0e8dc1/59e9d7feNaa5dd2fd.png?width=60&height=60" alt="">
          <h4>金融会员</h4>
        </li>
      </router-link>
    </ul>
  </Panel>
</template>
<script>
import Panel from '../core/panel'
export default {
  components: {
    Panel
  }
}
</script>
<style lang="scss" module>
@import "../../publicresource/css/element.scss";
.panel {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  height: 100px;
  z-index: 998;
  > h4 {
    display: none;
  }
  .content {
    @include flex(row);
    justify-content: space-around;
    a {
      text-decoration: none;
      li {
        text-align: center;
        img {
          display: inline-block;
          margin: 12px auto 6px;
          height: 44px;
          width: 44px;
        }
        h4 {
          font-size: 22px;
          color: #B1B4BB;
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }
    }
  }
}
</style>