<template>
  <Panel title="众筹新品" :class="$style.panel">
    <!-- <Slider :swiperOption="swiperOption" :items="items" /> -->
    <section :class="$style.content">
      <div class="arrow">更多尖货 ></div>
      <Slider :swiperOption="swiperOption" :items="items" cname="product-slider" />
    </section>
  </Panel>
</template>
<script>
import Panel from '../core/panel'
import Slider from '../core/slider'
export default {
  name: 'crowfunding',
  components: {
    Panel,
    Slider
  },
  data() {
    return {
      items: [
        {
          href: 'Home',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t17692/108/1667948905/47352/b3b5fec5/5ad4077bN829fc64d.jpg?width=335&height=421'
        },
        {
          href: 'Home',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t17017/315/1681990516/35892/46d5d0e/5ad40797Nd8624d82.jpg?width=335&height=421'
        },
        {
          href: 'Home',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t18598/49/1683491486/34072/cb622afa/5ad407b7N95527875.jpg?width=335&height=421'
        }
      ],
      swiperOption: {
        slidesPerView: 2.2,
        spaceBetween: 30,
        freeMode: true
      }
    }
  }
}
</script>

<style lang="scss">
.product-slider {
  .swiper-container {
    box-sizing: border-box;
    padding: 0 24px;
    .swiper-slide {
      a {
        display: inline-block;
        width: 100%;
        img {
          width: 100%;
          display: block;
          height: 314px;
          border: 1px solid #fafafa;
        }
      }
    }
  }
}
</style>
<style lang="scss" module>
@import "../../publicresource/css/element.scss";
.panel {
  .content {
    padding-bottom: 40px;
    position: relative;
    & > div {
      position: absolute;
      font-size: 28px;
      color: #999;
      right: 20px;
      top: -70px;
    }
  }
}
</style>