<template>
  <Panel title="理财精选" :class="$style.panel">
    <section :class="$style.content">
      <dl v-for="item in items" :key="item.title" :class="$style.item">
        <dt>{{item.title}}
          <span>{{item.sub}}</span>
        </dt>
        <dd>{{item.rate}}</dd>
        <dd>{{item.text}}</dd>
      </dl>
    </section>
  </Panel>
</template>
<script>
import Panel from '.././core/panel'
export default {
  components: {
    Panel
  },
  data() {
    return {
      items: [
        {
          title: '定期理财',
          sub: '90天可质押',
          rate: '5.50%',
          text: '历史年化结算利率'
        },
        {
          title: '年年盈',
          sub: '理财推荐',
          rate: '5.10%',
          text: '综合年化收益率'
        },
        {
          title: '京智财富',
          sub: '1000元券',
          rate: '15.00%',
          text: '历史回测收益'
        },
        {
          title: '小白基金',
          sub: '超短期',
          rate: '5.00%',
          text: '7日年化收益率'
        }
      ]
    }
  }
}
</script>
<style lang="scss" module>
@import "../../publicresource/css/element.scss";
.panel {
  > h4 {
    border-bottom: 1px solid #ddd;
  }
  .content {
    @include flex(row);
    box-sizing: border-box;
    .item {
      width: 50%;
      box-sizing: border-box;
      padding-left: 32px;
      height: 218px;
      border-bottom: 1px solid #ddd;
      &:nth-child(2n-1) {
        border-right: 1px solid #ddd;
      }
      dt {
        color: #333;
        height: 42px;
        line-height: 42px;
        font-weight: 700;
        font-size: 30px;
        margin: 34px 0 16px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
        span {
          height: 34px;
          line-height: 34px;
          font-size: 24px;
          padding: 0 8px;
          color: #ff5155;
          position: relative;
          top: -5px;
          left: 4px;
          text-align: center;
          border: 1px solid #ff5155;
        }
      }
      dd {
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
      }
      dd:nth-child(2) {
        font-weight: 700;
        font-size: 44px;
        height: 58px;
        line-height: 58px;
        color: #ff5155;
      }
      dd:nth-child(3) {
        font-size: 24px;
        height: 34px;
        line-height: 34px;
        color: #999;
      }
    }
  }
}
</style>