<template>
  <article>
    <Slider :items="items" :class="$style.slider" />
    <section :class="$style.list">
      <div v-for="item in enters" :key="item.img" :class="$style.item">
        <router-link :to="{name:item.href}">
          <img :src="item.img" :alt="item.title">
          <h4>{{item.title}}</h4>
        </router-link>
      </div>
    </section>
  </article>
</template>

<script>
import Slider from '@/components/core/slider.vue'
export default {
  name: 'hslider',
  components: {
    Slider
  },
  data() {
    return {
      items: [
        {
          href: 'Test',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t17743/102/1419735038/76755/d0974387/5ac97f30N0b690c0c.jpg?width=750&height=320'
        },
        {
          href: 'Test',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t17662/29/2251510978/33945/29e80011/5aeafafeN37cf320d.jpg?width=750&height=320'
        },
        {
          href: 'Test',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t19000/301/2238546045/46707/ad2bbb1c/5aeafb28N684d8b25.jpg?width=750&height=320'
        },
        {
          href: 'Test',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t18040/362/2167405235/36942/6eb14e19/5aeafb4eNfdae70aa.jpg?width=745&height=320'
        },
        {
          href: 'Test',
          src: '//img12.360buyimg.com/jrpmobile/jfs/t16690/119/2250085527/41585/10cc0c92/5aeafb6fN07edcac9.jpg?width=750&height=320'
        }

      ],
      enters: [
        {
          href: 'Home',
          img: '//img12.360buyimg.com/jrpmobile/jfs/t3991/64/2521945388/12110/93c0139/58d1e462Ncf294123.png?width=132&height=132',
          title: '优惠券'
        },
        {
          href: 'Home',
          img: '//img12.360buyimg.com/jrpmobile/jfs/t5590/252/875247023/17343/946aa72c/59224650N0f7ffc92.png?width=132&height=132',
          title: '领红包'
        },
        {
          href: 'Home',
          img: '//img12.360buyimg.com/jrpmobile/jfs/t4393/329/2180608902/13217/c88c0cec/58ec9dcdN1534e2d7.png?width=132&height=132',
          title: '抢钢镚'
        },
        // {
        //   href: 'Home',
        //   img: '//img12.360buyimg.com/jrpmobile/jfs/t4618/115/2179710654/11347/bf520df/58ec9d84Nfd169001.png?width=132&height=132',
        //   title: '领京豆'
        // },
        {
          href: 'Home',
          img: '//img12.360buyimg.com/jrpmobile/jfs/t5488/298/1036263348/12073/b4f4de97/590ac8e8Ne9def22e.png?width=135&height=135',
          title: '白条提额'
        }]
    }
  }
}
</script>
<style lang="scss" module>
@import "@/publicresource/css/element.scss";
.slider {
  margin-top: 120px;
  img {
    width: 100%;
  }
}
.list {
  @include flex(row);
  background: #fff;
  padding-top: 40px;
  padding-bottom: 20px;
  justify-content: space-around;
  a {
    text-decoration: none;
  }
  .item {
    text-align: center;
    img {
      display: inline-block;
      width: 90px;
      height: 90px;
    }
    h4 {
      font-size: 26px;
      margin-top: 12px;
      color: #666;
    }
  }
}
</style>