<template>
  <ul :class="$style.header">
    <li></li>
    <li>借钱</li>
    <li></li>
  </ul>
</template>
<script>
export default {

}
</script>
<style lang="scss" module>
@import "../../publicresource/css/element.scss";
.header {
  @include flex(row);
  justify-content: space-between;
  height: 90px;
  line-height: 90px;
  li:nth-child(1) {
    height: 90px;
    width: 80px;
    background: url("../../publicresource/img/arrow.png") no-repeat center;
  }
  li:nth-child(2) {
    font-size: 32px;
  }
  li:nth-child(3) {
    height: 90px;
    width: 80px;
    background: url("../../publicresource/img/menu.png") no-repeat center;
    background-size: 50%;
  }
}
</style>