<template>
  <div id="borrow">
    <Bheader/>
    <div :class="$style.bg">
      <Top/>
      <Navbar/>
      <Whitestrip/>
    </div>

  </div>
</template>
<script>
import Bheader from '@/components/borrow/bheader.vue'
import Top from '@/components/borrow/top.vue'
import Whitestrip from '@/components/borrow/whitestrip.vue'
// import Slider from '@/components/borrow/bslider.vue'
import Navbar from '@/components/public/navbar.vue'

export default {
  name: 'borrow',
  components: {
    Bheader,
    Top,
    Whitestrip,
    Navbar
  }
}
</script>
<style lang="scss" module>
.bg {
  // opacity: 0;
  background: url("../../publicresource/img/bj.png") no-repeat 0 0;
  background-size: 100% auto;
}
</style>

