<template>
  <section :class="$style.content">
    <div :class="$style.goldCard">
      <ul>
        <li>最高可借</li>
        <li>
          <span>¥</span>300,000</li>
        <li>立即借款</li>
      </ul>
    </div>
    <Slider />
  </section>
</template>
<script>
import Slider from '../core/slider'
export default {
  components: {
    Slider
  }
}
</script>
<style lang="scss" module>
.content {
  .goldCard {
    box-sizing: border-box;
    height: 395px;
    padding: 47.25px 26.25px;
    position: relative;
    ul {
      box-sizing: border-box;
      background: url("../../publicresource/img/goldCard.png") no-repeat 0 0;
      background-size: 100% auto;
      padding-top: 60px;
      padding-left: 60px;
      width: 587.5px;
      height: 347.4px;
      li {
        color: #fff;
        font-weight: 400px;
        font-size: 28px;
        &:nth-child(2) {
          margin: 20px 0;
          span {
            font-size: 52.5px;
          }
          font-size: 65.5px;
        }
        &:last-child {
          text-align: center;
          background: url("../../publicresource/img/btnBj.png") no-repeat 0 0;
          background-size: 100% auto;
          width: 180.26px;
          height: 56.88px;
          line-height: 56.88px;
        }
      }
    }
  }
}
</style>