<template>
  <Panel title="白条取现" :class="$style.panel"></Panel>
</template>
<script>
import Panel from '../core/panel'
export default {
  components: {
    Panel
  }
}
</script>
<style lang="scss" module>

</style>